<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form action="signedin/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="text" id="username" name="username" placeholder="Username">
        <input type="text" id="email" name="email" placeholder="Email">
        <input type="text" id="password" name="password" placeholder="Password">
        <button type="submit">Sign In</button>
    </form>
</body>
</html>